@(message: String)

@main("DigitalDowsingRod - About") {

	<h1>What is Digital Dowsing Rod?</h1>
	<p>Digital Dowsing Rod is a tool to help people begin to see the possible impact that renewables can have on their lives through an easy and quick evaluation of the average conditions around their entered position.</p>
	<p>The tool is also a way to make people aware of the energy situation around them in a passive way. As they explore their own situation, they are also presented with the average consumption rates of their surroundings and the cost benefits of renewables in general.</p>
	
	<h2>Issues that can be addressed with Digital Dowsing Rod</h2>
	
	<div class="jumbotron" style="clear:both;margin-top:20px;">
		<div class="row">
			<div class="col-lg-12">
				<img src="@routes.Assets.at("images/co2down.png")" style="float:left; height:100px;">
				<p><strong>CO2 Emissions</strong></p>
				<p>By inlcuding information on the emissions around the location specified, we can raise users awareness of the levels of emissions in their local environment, and hopefully get them thinking on what is causing the returned results.</p>
			</div>
		</div>
	</div>

	<div class="jumbotron" style="clear:both;margin-top:40px;">
		<div class="row">
			<div class="col-lg-12">
				<p><strong>Government Initiatives for a Greener Future:</strong><br />
				<p>By tying relevant initiatives into the results and website of the project, we can help make people aware of government programs that can help them realise a greener and more sustainable future.</p>
				<ul>
					<li>Interest-Free loans are available to SME's through the Carbon Trues with unsecured loans of upto £100,000. These loans can be applied for if you are thinking of replacing or upgrading your existing equipment with more energy efficient version</li>
					<li>http://www.solarenergyexperts.co.uk/buyersguides/grants-for-commercial-business-pv-panels/</li>
					<li>http://www.energysavingtrust.org.uk/scotland/Generating-energy/Getting-money-back/Feed-In-Tariffs-scheme-FITs</li>
					<li>http://www.energysavingtrust.org.uk/scotland/Generating-energy/Choosing-a-renewable-technology/Wind-turbines</li>
					<li>http://www.energysavingtrust.org.uk/scotland/Take-action/Find-a-grant/Home-Energy-Scotland-renewables-loan-scheme?gclid=CNDOic6ypb0CFZHJtAodGT0A3g</li>
					<li>http://www.local.gov.uk/home/-/journal_content/56/10180/3510194/ARTICLE</li>
					<li>Maybe make some calculators</li>
					<li>Write some more stuff to convince....</li>
				</ul>
			</div>
		</div>
	</div>


	<h2>About The Creators</h2>
	<p>Digital Dowsing Rod was created by a team consisting of computer science students, a geologist, and a networking student at the 2nd of Glasgow City Council's Future City Hacks, addressing the theme of Energy in the city.</p>
	
	


}
