@(message: String)

@main("DigitalDowsingRod - About") {

	<h1>What is this?</h1>
	<p>Digital Dowsing Rods is one of the many ideas concoted at the 2nd Open Glasgow Hackathons</p>
	<p>A team consisting of mostly Strathclyde Geeksoc Students decided to flip the common "problem" dealt with by most of the other groups. 
	Instead of trying to convince the general public to reduce their energy consumption we have ....</p>
	
	
	<div class="row">
		<div class="col-lg-12">
			<img src="@routes.Assets.at("images/co2down.jpg")" style="float:left; height:100px;">
			<h3>Cutting CO2 is a priority</h3>
			<p>Mainly aimed at individuals and SME's we hope to provide them with some help to decide wether they could benefit in the long term for their energy needs by using micro renewable energy systems.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>There are many government schemes:<br /><p>
			<ul>
				<li>Interest-Free loans are available to SME's through the Carbon Trues with unsecured loans of upto £100,000. These loans can be applied for if you are thinking of replacing or upgrading your existing equipment with more energy efficient version</li>
				<li>http://www.solarenergyexperts.co.uk/buyersguides/grants-for-commercial-business-pv-panels/</li>
				<li>Write some more stuff to convince....</li>
			</ul>
		</div>
	</div>


}
