@(message: String)

@main("DigitalDowsingRod") {
	<img style="width:200px;float:right;" src="@routes.Assets.at("images/logo.png")">
	
	<h1>Welcome to Digital Dowsing Rod</h1>
	<h3>With Digital Dowsing Rod we can help you find out if your area is suitable for micro renewable energy systems.</h3>

	<div class="jumbotron" style="clear:both;margin-top:40px;">
  		<h1>Get Started</h1>
  		<p>With our tool, you can type postcode and we can help you determine which solution is best for you..</p>
  		<p><a href="questions" class="btn btn-primary btn-lg">Lets go</a></p>
	</div>
	
}
