@(message: String)

@main("DigitalDowsingRod") {
	<img style="width:200px;float:right;" src="@routes.Assets.at("images/logo.png")">
	
	<h2>Where Do You Get Your Energy?</h2>
	<p>Most of us get our energy from our energy supplier, and they get that energy mostly from Coal, Gas, and Nuclear power plants.</p>
	<p>This doesn't have to be the case! Micro generation of power is possible, and practical, for a growing number of people. Generating your own power allows you to reduce your electric bill, and even make some money by giving your extra power back to the electricity grid! You can also reduce your impact on the environment by generating and consuming your own green power.</p>
	
	<h3>Are Renewables Right For You?</h3>
	<p>This tool is here to help you find out if your area may be suitable for solar, wind, and hydro micro renewable energy systems. Currently, we are able to suggest micro generation schemes that would fit your local conditions. We do not take into account at this time your electricity consumption, so having an idea of how much you use in your home would help you determine the suitibility of our recommendations.</p>

	<div class="jumbotron" style="clear:both;margin-top:40px;">
  		<h3>Get Started!</h3>
  		<p>With your postcode and and several questions, we can recommend renewable options that have a chance in your area!</p>
  		<p><a href="map" class="btn btn-primary btn-lg">Lets go!</a></p>
	</div>
	
	
}
