@(message: String)

@main("DigitalDowsingRod") {
	<img style="width:200px;float:right;" src="@routes.Assets.at("images/logo.png")">
	
	<h2>Where Do You Get Your Energy?</h2>
	<h3>Most of us get our energy from our energy supplier, and they get that energy from Coal, Gas, and Nuclear power plants.</h3>
	
	<h2>Are Renewables Right For You?</h2>
	<h3>This tool is here to help you find out if your area may be suitable for solar, wind, and hydro micro renewable energy systems.</h3>

	<div class="jumbotron" style="clear:both;margin-top:40px;">
  		<h3>Get Started</h3>
  		<p>With your postcode and and several questions, we can recommend to</p>
  		<p><a href="questions" class="btn btn-primary btn-lg">Lets go</a></p>
	</div>
	
}
