@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    	@navbar()
        <div class='container'>
        	@content
            
        </div>

            <footer class="well" style="margin:0;padding:0;padding-bottom:20px;margin-top:40px;">
                <div class="container">
                    <div class="col-lg-12" style="padding-top:30px;">
                        <p>Hello, this is an redundant footer.</p>
                    </div>
                </div>
                
            </footer>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
