@(error: Boolean)

@scripts = {

<script src="https://osopenspacepro.ordnancesurvey.co.uk/osmapapi/openspace.js?key=6694613F8B469C97E0405F0AF160360A"></script>
<script>
$( document ).ready(function() {
    init();
    
});


var osMap;
var markers;
var marker;


function init() {
	osMap = new OpenSpace.Map('map');
	osMap.setCenter(new OpenSpace.MapPoint(258094, 664940), 5);
	var screenOverlay = new OpenSpace.Layer.ScreenOverlay("coords");
     screenOverlay.setPosition(new OpenLayers.Pixel(450, 0));
     osMap.addLayer(screenOverlay);
     
     markers = new OpenLayers.Layer.Markers("Markers");
      osMap.addLayer(markers);
     
     
}
function onResult(postcodeCentre) {
	
	osMap.setCenter(postcodeCentre, 10);
	var marker = new OpenLayers.Marker(postcodeCentre);
    markers.addMarker(marker);
	
}
function postcode(){
	var postcode=$('#postInput').val();
	var postcodeService = new OpenSpace.Postcode();
	postcodeService.getLonLat(postcode, onResult);
	$('#postOut').val(postcode);
}
</script>

}

@main("DigitalDowsingRod - Map",scripts) {


<div class="panel panel-primary">
 	<div class="panel-heading">
    	<h3 class="panel-title">Where do you want to install renewable energy?</h3>
  	</div>
  	<div class="panel-body">
  		<input id="postInput"></input>
  		<button onClick="postcode()">Input Postcode</button>
  		@if(error) {
  		<div class="alert alert-danger alert-dismissable">
  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  			<strong>Error!</strong> Please input a valid Glasgow Postcode
		</div>
		}
		<div id="map" style="height:500px; border: 1px solid black;"></div>
		<form action="questions">
		<input id="postOut" name="postcode" type = "Hidden"></input>
		<input type = "submit" value="Go!"></input>
		</form>
  	</div>
</div>



}
