@(message: String)

@main("DigitalDowsingRod - Map") {




<!-- pulled from the api example page -->
<script src="https://osopenspacepro.ordnancesurvey.co.uk/osmapapi/openspace.js?key=6694613F8B469C97E0405F0AF160360A"></script>
<!--<script type="text/javascript" src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=F481BBF73994038DE0430B6CA40AB6D2"></script>-->
<!-- 
We will test then move to external js file
<script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
-->
<script>
$( document ).ready(function() {
    init();
    $("#postcodeTitle").html(postcode);
});


var osMap;
var postcode = "G33 1RD";




function init() {
	var $_GET = {},
    args = location.search.substr(1).split(/&/);
	for (var i=0; i<args.length; ++i) {
	    var tmp = args[i].split(/=/);
	    if (tmp[0] != "") {
	        $_GET[decodeURIComponent(tmp[0])] = decodeURIComponent(tmp.slice(1).join("").replace("+", " "));
	    }
	}
	
	
	postcode=$_GET['postcode'];
	osMap = new OpenSpace.Map('map');
	
	
	var postcodeService = new OpenSpace.Postcode();
	
	var screenOverlay = new OpenSpace.Layer.ScreenOverlay("coords");
     screenOverlay.setPosition(new OpenLayers.Pixel(450, 0));
     osMap.addLayer(screenOverlay);
     
     postcodeService.getLonLat(postcode, onResult);
}
function onResult(postcodeCentre) {
	osMap.setCenter(postcodeCentre, 10);
	
}
</script>





<div class="panel panel-primary">
 	<div class="panel-heading">
    	<h3 id="postcodeTitle" class="panel-title"></h3>
  	</div>
  	<div class="panel-body">
		<div id="map" style="height:500px; border: 1px solid black;"></div>
  	</div>
</div>



}
