@(postcode: String)

@scripts = {
<script type="text/javascript">
	$(function(){
		$('.option').css('display','none');
		$('.s').change(function(){
			$('#'+$( this ).val()).slideToggle('slow');
			return false;
		});
	});
</script>
}

@main("DigitalDowsingRod - Finding More About You",scripts) {

<form method='POST' action="@routes.Application.resultsSubmit" enctype='multipart/form-data'>
<input type="hidden" value="@postcode" name="postcode" 

<div class="col-lg-12">
<div class="row">
		<h3>What Renewables are you interested in?</h3>
		<div class="checkbox">
			<label><input type="checkbox" class="s" name="solar" value="solar">Solar Energy</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" class="s" name="wind" value="wind">Wind Energy</label>
		</div>

</div>

<div class='option' id="solar">
	<div class="row">

			<div class="panel panel-primary">
		  		<div class="panel-heading">
		    		<h3 class="panel-title"><img src="@routes.Assets.at("images/solarpanel.png")" style="height:20px;">
		    		Solar Power</h3>
		  		</div>
		  		<div class="panel-body">
		  			<h4>First we need to ask you a few questions.</h4>
	        		
	        		<div class="form-group">
	                  	<label class="control-label">Area of Roof</label>
	              		<div class="input-group">
	                		<input name="solarArea" type="number" class="form-control">
	                		<span class="input-group-addon">M^2</span>
	              		</div>
	                </div>
		    		<!--$('#myModal').modal('show'); -->
		  		</div>

		</div>
	</div>
	
</div>


<div class='option' id="wind">
	<div class="row">

			<div class="panel panel-primary">
		  		<div class="panel-heading">
		    		<h3 class="panel-title"><img src="@routes.Assets.at("images/windturbine.png")" style="height:20px;">Wind Energy</h3>
		  		</div>
		  		<div class="panel-body">
		  			<h4>First we need to ask you a few questions.</h4>
		    		<div class="form-group">
	                  	<label class="control-label">Height of Building</label>
	              		<div class="input-group">
	                		<input type="number" class="form-control">
	                		<span class="input-group-addon">M</span>
	              		</div>
	                </div>
	                
	                

			</div>
		</div>
	</div>
</div>


<input type="submit" class="btn btn-primary btn-lg" value="Go!"></input>
</form>

</div>






<div id="amountOfEnergyModal" class="modal">
 	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        		<h4 class="modal-title">Amount of energy needed - Help</h4>
     		</div>
      		<div class="modal-body">
        		<p>Should you find you are making more energy than you need, you can find more information about how to sell your energy to the electricity board.</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-primary">More Information</button>
      		</div>
    	</div>
 	</div>
</div>
}
