@(postcode: SmallLargeUserPostcodes)(ward: MultiMemberWards)(dec: DomesticElectricityConsumption)(nondec: NonDomesticElectricityConsumption)(wind: DatazoneWindspeed)

<table class='table'>
<tr><th>Information</th><th>Value</th></tr>
<tr><td>Postcode</td><td>@postcode.postcode</td></tr>
<tr><td>Area</td><td>@ward.multiMemberWardName</td></tr>
<tr><td>Datazone</td><td>@ward.datazone</td></tr>
<tr><td>Civil Parish</td><td>@postcode.civilParish</td></tr>
<tr><td>Domestic Energy Consumption</td><td>@dec.averageOrdinaryDomesticconsumption kW/h</td></tr>
<tr><td>Non Domestic Energy Consumption</td><td>@nondec.averageConsumption kW/h</td></tr>
<tr><td>Wind Speed (10m)</td><td>@wind.windspeed10m</td></tr>
<tr><td>Wind Speed (25m)</td><td>@wind.windspeed25m</td></tr>
<tr><td>Wind Speed (45m)</td><td>@wind.windspeed45m</td></tr>
</table>